<!DOCTYPE html>
<html>

<head>
    <title>Galeri</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/png" href="static/images/sawitpro.png">
    <style>
        .navbar {
            display: flex;
            justify-content: center;
        }

        .navbar-nav {
            flex-direction: row;
            justify-content: center;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Galeri: {{ username }}</h1>
        <div class="row">
            <div class="gallery">
                <figure>
                    <img src="https://images.unsplash.com/photo-1448814100339-234df1d4005d?crop=entropy&fit=crop&fm=jpg&h=400&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=600"
                        alt="" />
                    <figcaption>Daytona Beach <small>United States</small></figcaption>
                </figure>
                <figure>
                    <img src="https://images.unsplash.com/photo-1443890923422-7819ed4101c0?crop=entropy&fit=crop&fm=jpg&h=400&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=600"
                        alt="" />
                    <figcaption>Териберка, gorod Severomorsk <small>Russia</small></figcaption>
                </figure>
                <figure>
                    <img src="https://images.unsplash.com/photo-1445964047600-cdbdb873673d?crop=entropy&fit=crop&fm=jpg&h=400&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=600"
                        alt="" />
                    <figcaption>
                        Bad Pyrmont <small>Deutschland</small>
                    </figcaption>
                </figure>
                <figure>
                    <img src="https://images.unsplash.com/photo-1439798060585-62ab242d7724?crop=entropy&fit=crop&fm=jpg&h=400&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=600"
                        alt="" />
                    <figcaption>Yellowstone National Park <small>United States</small></figcaption>
                </figure>
                <figure>
                    <img src="https://images.unsplash.com/photo-1440339738560-7ea831bf5244?crop=entropy&fit=crop&fm=jpg&h=400&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=600"
                        alt="" />
                    <figcaption>Quiraing, Portree <small>United Kingdom</small></figcaption>
                </figure>
                <figure>
                    <img src="https://images.unsplash.com/photo-1441906363162-903afd0d3d52?crop=entropy&fit=crop&fm=jpg&h=400&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=600"
                        alt="" />
                    <figcaption>Highlands <small>United States</small></figcaption>
                </figure>
                <figure>
                    <img src="https://images.unsplash.com/photo-1448814100339-234df1d4005d?crop=entropy&fit=crop&fm=jpg&h=400&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=600"
                        alt="" />
                    <figcaption>Daytona Beach <small>United States</small></figcaption>
                </figure>
                <figure>
                    <img src="https://images.unsplash.com/photo-1443890923422-7819ed4101c0?crop=entropy&fit=crop&fm=jpg&h=400&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=600"
                        alt="" />
                    <figcaption>Териберка, gorod Severomorsk <small>Russia</small></figcaption>
                </figure>
                <figure>
                    <img src="https://images.unsplash.com/photo-1445964047600-cdbdb873673d?crop=entropy&fit=crop&fm=jpg&h=400&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=600"
                        alt="" />
                    <figcaption>
                        Bad Pyrmont <small>Deutschland</small>
                    </figcaption>
                </figure>
                <figure>
                    <img src="https://images.unsplash.com/photo-1439798060585-62ab242d7724?crop=entropy&fit=crop&fm=jpg&h=400&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=600"
                        alt="" />
                    <figcaption>Yellowstone National Park <small>United States</small></figcaption>
                </figure>
                <figure>
                    <img src="https://images.unsplash.com/photo-1440339738560-7ea831bf5244?crop=entropy&fit=crop&fm=jpg&h=400&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=600"
                        alt="" />
                    <figcaption>Quiraing, Portree <small>United Kingdom</small></figcaption>
                </figure>
                <figure>
                    <img src="https://images.unsplash.com/photo-1441906363162-903afd0d3d52?crop=entropy&fit=crop&fm=jpg&h=400&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=600"
                        alt="" />
                    <figcaption>Highlands <small>United States</small></figcaption>
                </figure>
            </div>
            <!-- {% for file_name in file_names %}
            <div class="col-md-4">
                <div class="card">
                    <img src="http://sawitpro.s3-website-ap-southeast-1.amazonaws.com/{{ file_name }}"
                        class="card-img-top" alt="Image">
                    <div class="card-body">
                        <h5 class="card-title">Gambar {{ loop.index }}</h5>
                    </div>
                </div>
            </div>
            {% endfor %} -->
        </div>
    </div>
</body>

</html>